body {
  margin: 0;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
[layer] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main {
  width: 100vw;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: gray;
}
#app {
  position: relative;
  aspect-ratio: 4/3;
  width: 100vw;
  background: white;
}
#app-background > img {
  width: 100%;
  height: 100%;
  display: block;
}
#app-control {
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#app-control > .button {
  pointer-events: all;
  height: calc(5% + 3rem);
  padding: 1.5rem;
}
#app-control > .button > img {
  height: 100%;
}
#app-text {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#app-text p {
  font-size: 4rem;
  opacity: 0.3;
}
