body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
[layer] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#app {
  position: relative;
  width: 100vw;
  height: 100vh;
}
#app-control {
  pointer-events: none;
}
#app-control > button {
  pointer-events: all;
}
